[ALU_REPORT](https://docs.google.com/document/d/1S8DmcmnrZ44RnpbnlD4k4ZhlES_DO0Sr/edit?usp=sharing&ouid=101741971401991424961&rtpof=true&sd=true)
